  *{
  box-sizing: border-box;
  color: white;
  font-family: 'DM Sans';
}
body {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

section {
    border: 1px solid black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #b51431;
    border-bottom: 1px solid black
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}
header ul li a {
  text-decoration: none;
  padding: 15px 10px;
  transition: background 0.3s;
}
header ul li a:hover {
  background: black;
}

/*Hero Page Start*/
.my-name{
  font-size: 250%;
  font-weight: bold;
  margin-top: 45vh;
}
.web-dev{
  font-size: 150%;
}
#hero {
 background-image: url('./images/background.webp');
 height: 100vh;
}
.download-cv-btn{
  background: #b51431;
  margin-top: 50px;
  padding: 10px 20px;
}
/*Hero Page End*/

/*About Page Start*/
#about {
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
}
#about .section-inner h2{
  /*color: #b51431;*/
}
/*About Page End*/

/*Projects Start*/
#projects{
  background: #b51431;
  height: auto;
  padding: 30px;
}
.project-container{
  display: grid;
}

.project-item{
  max-width: 300px;
  border-radius: 10px;
  background: white;
  margin: 10px;
}
.image-container{
  max-height: 250px;
}
.project-image{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: contain;
}
.project-name{
  color: #b51431;
}
@media(min-width: 600px){
  .project-container{
    grid-template-columns: repeat(2, 1fr)
  }
}
@media(min-width: 900px){
  .project-container{
    grid-template-columns: repeat(3, 1fr)
  }
}
/*Projects End*/

/* Contacts Start */
#contact {
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Contacts End */
footer {
    text-align: center;
    padding: 50px;
}

footer{
  background-color: #b51431;
}
